.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    transition: all 0.3s ease-in-out;
}

.whatsapp-float:hover {
    background-color: #128C7E;
    transform: scale(1.1);
}

.my-float {
    font-size: 24px;
    margin-top: 18px;
}
